h1 {
    color: #adabab;
    text-align: center;
  }


    
    #searchBody {
        margin-left: 30%;
        padding: 15px 5px;
        width: 45%;
        border: 2px solid #adabab;
    }

    #productBody {
        margin-left: 30%;
        padding: 15px 5px;
        width: 45%;
        border: 2px solid #adabab;
    }

    .productTableData {
        color: #adabab;
    }

    #categoryShowBody {
        width:45%;
        margin-left: 43%;
    }
  body {
    height: 1000px;
    background: linear-gradient(180deg, rgba(93,92,88,1) 0%, rgba(112,115,112,1) 42%, rgba(127,133,132,1) 63%, rgba(154,166,166,1) 100%);
  }

  #adminProductsTable {
    width:45%;
    margin-left: 30%;
  }

  a {
    text-decoration: none;
  }

 #dashboardDiv {
    width: 40%;
    margin-left: 47%;
 }  

  p, label, h2, h3 {
    color:#adabab;
  }
  
  a:visited {
    color:#adabab;
    text-decoration: none;
  }

  .linksIndex {
    justify-content: space-between;
    text-align: center;
  }

  .linksCats {
    width: 40%;
    margin-left: 46%;
  }

  #productsList {
    width: 40%;
    margin-left: 44%;
  }

  ul {
    list-style: none;
  }
  li {
    text-decoration: none;
    color:#adabab;
  }
  li:visited {
    color:#adabab;
    text-decoration: none;
  }
  .login-form {
    background-color: #7a7979;
    padding: 20px;
    border: 1px solid #d3d2d2;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
  }

  

  body .cart-container {
    width: 80%;              
    margin: 0 auto;          
    padding: 20px;           
    text-align: center;      
  }

  .cart-container table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .cart-container th, .cart-container td {
    
    text-align: center;
    padding: 10px;
  }

  .cart-container td {
    color: #adabab;
  }
  
  .cart-container table, th, td {
    border: 1px solid #adabab;
  }
  
  .cart-container th {
    background-color: #adabab;
  }

  
  