<h1>Available Products</h1>
<%= link_to 'Cart', cart_path %>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.product_name, product_path(product) %>
    </li>
  <% end %>
</ul>